<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Index</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
 <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
 <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
 <script type="text/javascript" th:src="@{/js/actions.js}"></script>
</head>
<body>
	<div align="center">
	<div>
	<hr>
        <form th:action="@{/logout}" method="post">
            <p>
               [[#{index.welcome}]] <b th:text="${#request.userPrincipal.principal.fullName}"></b>
            </p>
            <input type="submit"  class="btn btn-primary" th:value="#{index.signout}" />
        </form>
    </div>	
	<h1>[[#{index.pm}]]</h1>
	<a th:href="@{/products/new}">[[#{index.create_new}]]</a>
	<br/>
	<form th:action="@{/products}">
	    [[#{index.filter}]] <input  type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
	    &nbsp;
	    <input class="btn btn-primary" type="submit" th:value="#{index.search}" />
	    &nbsp;
	    <input class="btn btn-primary" type="button" th:value="#{index.clear}" id="btnClear" onclick="clearSearch()" />
	</form>
	<br/><br/>
	
	<table class="table table-hover" cellpadding="10" table-striped>
		<thead class="thead-dark">
			<tr>
				<th>
					<a th:href="@{'/products/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}+'&keyword=' +${keyword}}">[[#{index.pm.id}]]</a>
				</th>
				<th>
					<a th:href="@{'/products/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}+'&keyword=' +${keyword}}">[[#{index.pm.name}]]</a>
				</th>
				<th>
					<a th:href="@{'/products/page/' + ${currentPage} + '?sortField=brand&sortDir=' + ${reverseSortDir}+'&keyword=' +${keyword}}">[[#{index.pm.brand}]]</a>
				</th>
				<th>
					<a th:href="@{'/products/page/' + ${currentPage} + '?sortField=madein&sortDir=' + ${reverseSortDir}+'&keyword=' +${keyword}}">[[#{index.pm.madein}]]</a>
				</th>
				<th>
					<a th:href="@{'/products/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}+'&keyword=' +${keyword}}">[[#{index.pm.price}]]</a>
				</th>
				
				<th><a href="#">[[#{index.pm.action}]]</a></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="product : ${listProducts}">
				<td th:text="${product.id}"></td>
				<td th:text="${product.name}"></td>
				<td th:text="${product.brand}"></td>
				<td th:text="${product.madein}"></td>
				<td th:text="${product.price}"></td>
				<td>
					<a th:href="@{'/products/edit/' + ${product.id}}">[[#{index.pm.edit}]]</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a th:href="@{'/products/delete/' + ${product.id}}">[[#{index.pm.delete}]]</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div>&nbsp;</div>
	<div><i>Sorted by [[${sortField}]] in [[${sortDir}]] order</i></div>
	<div>&nbsp;</div>
	<div th:if="${totalPages > 1}">
		[[#{index.total}]]: [[${totalItems}]]
		&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
		
		<a th:if="${currentPage > 1}" th:href="@{'/products/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ '&keyword=' + ${keyword}}">[[#{index.first}]]</a>
		<span th:unless="${currentPage > 1}">[[#{index.first}]]</span>
		&nbsp;&nbsp;
		
		<a th:if="${currentPage > 1}" th:href="@{'/products/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ '&keyword=' + ${keyword}}">[[#{index.previous}]]</a>
		<span th:unless="${currentPage > 1}">[[#{index.previous}]]</span>
		
		&nbsp;&nbsp;
		
		<span th:each="i: ${#numbers.sequence(1, totalPages)}">
			<a th:if="${currentPage != i}" th:href="@{'/products/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ '&keyword=' + ${keyword}}">[[${i}]]</a>
			<span th:unless="${currentPage != i}">[[${i}]]</span>
			&nbsp;
		</span>
		
		<a th:if="${currentPage < totalPages}" th:href="@{'/products/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ '&keyword=' + ${keyword}}">[[#{index.next}]]</a>
		<span th:unless="${currentPage < totalPages}">[[#{index.next}]]</span>
		&nbsp;&nbsp;
		
		<a th:if="${currentPage < totalPages}" th:href="@{'/products/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ '&keyword=' + ${keyword}}">[[#{index.last}]]</a>
		<span th:unless="${currentPage < totalPages}">[[#{index.last}]]</span>
	</div>
</div>
	<hr>
</body>
</html>