<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Create person page</title>
</head>
<body>
	<h1>Create person</h1>
	<form th:object="${person}" th:action="@{/person/create}" method="post">
		<div>
			<label for="personName">Name</label> 
			<input id="personName" type="text" th:field="*{name}"><br> 
			<label for="personAge">Age</label>
			<input id="personAge" type="text" th:field="*{age}"><br>
			<label for="personIntro">Introduction</label>
			<textarea id="personIntro" rows="5" cols="30" th:field="*{intro}"></textarea>
		</div>

		<button type="submit">Create person</button>
	</form>
</body>
</html>